#section-1{
    background-image:url("images/highway-1.jpg");
    height:100vh;
    background-position: center;
    background-size: cover;
}

.boxes{
    background-color: salmon;
    height:150px;
    width:150px;
    border: 2px black solid;
}